@page
@model DiplTrab1.Pages.Estudiante.EstudiantesRegModel
@{
    ViewData["Title"] = "EstudiantesReg";
}
@if (!string.IsNullOrEmpty(Model.MensajeDelete))
{
    <label class="alert-info">@Model.MensajeDelete</label>
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"></h3>

                <div class="card-tools">
                    <form method="get">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="texto" asp-for="Texto" />
                            <div class="input-group-append">
                                <button class="input-group-text" type="submit">Buscar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            @foreach( var estudiante in Model.Estudiantes)
            {
                <partial name="_ResumenEstudiante" model="estudiante"/>
                <br />
            }
            <!-- /.card-header -->
            @*<div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Matricula</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Edad</th>
                            <th>Sexo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var estudiante in Model.Estudiantes)
                        {
                            <tr>
                                <td>@estudiante.ID</td>
                                <td>@estudiante.Matricula</td>
                                <td>@estudiante.Nombre</td>
                                <td>@estudiante.Apellido</td>
                                <td>@estudiante.FechaNacimiento</td>
                                <td contenteditable="false">@estudiante.Edad</td>
                                <td>@estudiante.sexo</td>
                                <td><a asp-page="./DetalleEstudiante" asp-route-Id="@estudiante.ID" class="btn btn-success" style="cursor:pointer">Ver detalle</a></td>
                                <td><a asp-page="./EditarEstudiante" asp-route-Id="@estudiante.ID" class="btn btn-secondary" style="cursor:pointer">Editar</a></td>
                                <td><a asp-page="./DeleteEstudiante" asp-route-Id="@estudiante.ID" class="btn btn-warning" style="cursor:pointer">Eliminar</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>*@
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<br />
<a asp-page="./EditarEstudiante" class="btn btn-success">Registrar Estudiante</a>
@section PiedePagina{
    <label class="alert-info">Listado de Estudiantes.</label>
 }

